<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <link
      href="//cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
      integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="../styles/reports.css" />
    <script src="../js/reports.js"></script>
    <title>Reason For Change Report</title>
  </head>
  <style>
    .html-content {
      /* overflow-x: auto; */
      overflow: auto;
      /* white-space: nowrap; */
    }
    .ws-normal {
      white-space: normal;
    }
    .ws-no-wrap {
      white-space: nowrap;
    }
    .text-small {
      font-size: 0.75rem;
    }
    .text-xsmall {
      font-size: 0.75rem;
    }
    /* .table thead td,
    .table thead th,
    .table thead tr {
      border-top: none;
      border-bottom: none;
    } */

    .no-borders {
      border: none o !important;
    }
    tr:last-child {
      font-weight: bold;
    }
    .table {
      border-collapse: collapse;
    }
    .line_break,
    .line_break td {
      padding-top: 1rem;
      padding-bottom: 1rem;
      border: none !important;
    }
  </style>
  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <div class="navbar-brand ml-5" href="#">
          <img
            src="../assets/AAC_logo.png"
            width="150"
            height="30"
            class="ml-5 d-inline-block align-top"
            alt=""
          />
          Reporting Module
        </div>

        <div class="nav pull-right">
          <button
            type="button"
            class="btn btn-primary navbar-btn"
            id="print_pdf"
          >
            <i class="fas fa-file-pdf"></i>
            Print PDF
          </button>
          <button
            style="margin-left: 2rem"
            type="button"
            class="btn btn-success navbar-btn"
            id="export_csv"
          >
            <i class="fas fa-file-csv"></i>
            Export to CSV
          </button>
        </div>
      </div>
    </nav>
    <div class="html-content" witdh="100%">
      <!-- <div class="container-fluid html-content"> -->
      <div class="container-fluid">
        <div class="row mt-4" id="title_row">
          <div class="col-sm-12 text-center">
            <h3 id="report_title">
              <strong>
                REASONS FOR CHANGE SUMMARY REPORT - ASSESSMENT YEAR:
                <span id="asst_year">2019</span>
              </strong>
            </h3>
          </div>
        </div>
        <div class="container mt-4 mb-4 px-4" id="title">
          <div class="row gx-5 text-center" id="title_card_row">
            <div class="col">
              <ul class="list-group list-group-flush">
                <li class="list-group-item value">An item</li>
                <li class="list-group-item description">A second item</li>
              </ul>
            </div>
            <div class="col">
              <ul class="list-group list-group-flush">
                <li class="list-group-item value">An item</li>
                <li class="list-group-item description">A second item</li>
              </ul>
            </div>
            <div class="col">
              <ul class="list-group list-group-flush">
                <li class="list-group-item value">An item</li>
                <li class="list-group-item description">A second item</li>
              </ul>
            </div>
            <div class="col">
              <ul class="list-group list-group-flush">
                <li class="list-group-item value">An item</li>
                <li class="list-group-item description">A second item</li>
              </ul>
            </div>
            <div class="col">
              <ul class="list-group list-group-flush">
                <li class="list-group-item value">An item</li>
                <li class="list-group-item description">A second item</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-sm-12">
            <table class="table table-bordered">
              <thead class="thead-dark" id="RFC_Head">
                <tr class="fw-bold" id="RFC_Top_Header">
                  <td rowspan="5" id="RFC_RE" class="p-3">REAL ESTATE</td>
                  <td colspan="4" rowspan="3">
                    LAST YEAR'S ASSESSMENT ROLL TOTALS
                  </td>
                  <td colspan="6" class="table-secondary">
                    INCREASES IN ASSESSED VALUES DUE TO:
                  </td>
                  <td colspan="2">+ OR -</td>
                  <td colspan="6" class="table-secondary">
                    DECREASES IN ASSESSED VALUES DUE TO:
                  </td>
                  <td colspan="4" rowspan="3">
                    THIS YEAR'S ASSESSMENT ROLL TOTALS
                  </td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td colspan="2">4</td>
                  <td>5</td>
                  <td colspan="2">6</td>
                  <td>7</td>
                  <td>8</td>
                  <td>9</td>
                  <td colspan="2">10</td>
                  <td>11</td>
                </tr>
                <tr id="value_inc_dec_descripions">
                  <td rowspan="2">Annexation - Gain</td>
                  <td rowspan="2">New Construction or Higher Land Use</td>
                  <td rowspan="2">
                    Extreme Economic Obsolescence &ndash; Removal
                  </td>
                  <td colspan="2" rowspan="2">
                    From Exempt or from Personal Property
                  </td>
                  <td rowspan="2">Revaluation Increase</td>
                  <td colspan="2" rowspan="2">
                    Net Value Shift(s) in Classification
                  </td>
                  <td rowspan="2">Annexation &ndash; Loss</td>
                  <td rowspan="2">Property Destroyed or Removed</td>
                  <td rowspan="2">Extreme Economic Obsolescence</td>
                  <td colspan="2" rowspan="2">
                    To Exempt or to Personal Property
                  </td>
                  <td rowspan="2">Revaluation Decrease</td>
                </tr>
                <tr class="fw-bold" id="RFC_Years">
                  <td colspan="4" id="RFC_Previous">2018</td>
                  <td colspan="4" id="RFC_Current">2019</td>
                </tr>
                <tr id="title_sub_columns">
                  <td></td>
                  <td>Parcel Count</td>
                  <td>No. of Acres</td>
                  <td>Assessed Value</td>
                  <td>Assessed Value</td>
                  <td>Assessed Value</td>
                  <td>Assessed Value</td>
                  <td>No. of Acres</td>
                  <td>Assessed Value</td>
                  <td>Assessed Value</td>
                  <td>No. of Acres</td>
                  <td>Assessed Value</td>
                  <td>Assessed Value</td>
                  <td>Assessed Value</td>
                  <td>Assessed Value</td>
                  <td>No. of Acres</td>
                  <td>Assessed Value</td>
                  <td>Assessed Value</td>
                  <td></td>
                  <td>Parcel Count</td>
                  <td>No. of Acres</td>
                  <td>Assessed Value</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td rowspan="3">Class "1" Residential</td>
                  <td>Land</td>
                  <td>1,962</td>
                  <td></td>
                  <td>$283,032,500</td>
                  <td>$161,000</td>
                  <td>$11,830,000</td>
                  <td>$0</td>
                  <td>5.921</td>
                  <td>$142,300</td>
                  <td>$64,573,650</td>
                  <td>-0.900</td>
                  <td>-$16,828,850</td>
                  <td>$0</td>
                  <td>-$377,500</td>
                  <td>$0</td>
                  <td>-4.449</td>
                  <td>-$33,000</td>
                  <td>-$4,394,800</td>
                  <td>Land</td>
                  <td>0</td>
                  <td></td>
                  <td>$338,105,300</td>
                </tr>
                <tr>
                  <td>Impts.</td>
                  <td>1,710</td>
                  <td></td>
                  <td>$404,870,500</td>
                  <td>$117,900</td>
                  <td>$6,965,900</td>
                  <td>$0</td>
                  <td></td>
                  <td>$0</td>
                  <td>$101,740,200</td>
                  <td></td>
                  <td>$568,900</td>
                  <td>$0</td>
                  <td>-$312,000</td>
                  <td>$0</td>
                  <td></td>
                  <td>$0</td>
                  <td>-$9,455,400</td>
                  <td>Impts.</td>
                  <td>0</td>
                  <td></td>
                  <td>$504,496,000</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td></td>
                  <td>1,428</td>
                  <td>$687,903,000</td>
                  <td>$278,900</td>
                  <td>$18,795,900</td>
                  <td>$0</td>
                  <td></td>
                  <td>$142,300</td>
                  <td>$166,313,850</td>
                  <td></td>
                  <td>-$16,259,950</td>
                  <td>$0</td>
                  <td>-$689,500</td>
                  <td>$0</td>
                  <td></td>
                  <td>-$33,000</td>
                  <td>-$13,850,200</td>
                  <td>Total</td>
                  <td></td>
                  <td>1,429</td>
                  <td>$842,601,300</td>
                </tr>
                <tr>
                  <td rowspan="3">Class "2" Commercial</td>
                  <td>Land</td>
                  <td>119</td>
                  <td></td>
                  <td>$17,692,300</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td>1.814</td>
                  <td>$0</td>
                  <td>$5,909,800</td>
                  <td>26.581</td>
                  <td>$79,200</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td>-5.921</td>
                  <td>$0</td>
                  <td>-$602,800</td>
                  <td>Land</td>
                  <td>0</td>
                  <td></td>
                  <td>$23,078,500</td>
                </tr>
                <tr>
                  <td>Impts.</td>
                  <td>92</td>
                  <td></td>
                  <td>$36,421,700</td>
                  <td>$0</td>
                  <td>$943,000</td>
                  <td>$0</td>
                  <td></td>
                  <td>$0</td>
                  <td>$3,645,500</td>
                  <td></td>
                  <td>$204,300</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td></td>
                  <td>$0</td>
                  <td>-$1,311,300</td>
                  <td>Impts.</td>
                  <td>0</td>
                  <td></td>
                  <td>$39,903,200</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td></td>
                  <td>595</td>
                  <td>$54,114,000</td>
                  <td>$0</td>
                  <td>$943,000</td>
                  <td>$0</td>
                  <td></td>
                  <td>$0</td>
                  <td>$9,555,300</td>
                  <td></td>
                  <td>$283,500</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td></td>
                  <td>$0</td>
                  <td>-$1,914,100</td>
                  <td>Total</td>
                  <td></td>
                  <td>617</td>
                  <td>$62,981,700</td>
                </tr>
                <tr rowspan="2">
                  <td>Class "4" Agricultural</td>
                  <td>Land</td>
                  <td>345</td>
                  <td>6,563</td>
                  <td>$1,552,900</td>
                  <td>$1,200</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td>1.190</td>
                  <td>$200</td>
                  <td>$328,850</td>
                  <td>-112.499</td>
                  <td>$16,774,350</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td>-47.500</td>
                  <td>-$8,700</td>
                  <td>-$16,789,600</td>
                  <td>Land</td>
                  <td>0</td>
                  <td>6,404</td>
                  <td>$1,859,200</td>
                </tr>
                <tr rowspan="2">
                  <td>Class "5" Undeveloped</td>
                  <td>Land</td>
                  <td>192</td>
                  <td>882</td>
                  <td>$617,300</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td>35.543</td>
                  <td>$2,200</td>
                  <td>$571,900</td>
                  <td>34.098</td>
                  <td>$243,800</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td>-4.157</td>
                  <td>-$200</td>
                  <td>-$550,400</td>
                  <td>Land</td>
                  <td>0</td>
                  <td>947</td>
                  <td>$884,600</td>
                </tr>
                <tr rowspan="3">
                  <td>Class "5m" Agricultural Forest</td>
                  <td>Land</td>
                  <td>43</td>
                  <td>130</td>
                  <td>$551,500</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td>0.000</td>
                  <td>$0</td>
                  <td>$110,100</td>
                  <td>21.820</td>
                  <td>$240,400</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td>0.000</td>
                  <td>$0</td>
                  <td>-$172,200</td>
                  <td>Land</td>
                  <td>0</td>
                  <td>152</td>
                  <td>$729,800</td>
                </tr>
                <tr rowspan="2">
                  <td>Class "6" Forest</td>
                  <td>Land</td>
                  <td>3</td>
                  <td>37</td>
                  <td>$331,600</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td>0.000</td>
                  <td>$0</td>
                  <td>$278,900</td>
                  <td>18.100</td>
                  <td>-$89,400</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td>0.000</td>
                  <td>$0</td>
                  <td>-$30,900</td>
                  <td>Land</td>
                  <td>0</td>
                  <td>55</td>
                  <td>$490,200</td>
                </tr>
                <tr>
                  <td rowspan="3">Class "7" Other</td>
                  <td>Land</td>
                  <td>56</td>
                  <td></td>
                  <td>$4,368,900</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td>0.000</td>
                  <td>$0</td>
                  <td>$2,540,800</td>
                  <td>13.371</td>
                  <td>-$399,700</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td>-1.000</td>
                  <td>-$65,000</td>
                  <td>-$370,000</td>
                  <td>Land</td>
                  <td>0</td>
                  <td></td>
                  <td>$6,075,000</td>
                </tr>
                <tr>
                  <td>Impts.</td>
                  <td>55</td>
                  <td></td>
                  <td>$8,933,000</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td></td>
                  <td>$0</td>
                  <td>$1,450,900</td>
                  <td></td>
                  <td>-$598,100</td>
                  <td>$0</td>
                  <td>-$76,400</td>
                  <td>$0</td>
                  <td></td>
                  <td>$0</td>
                  <td>-$714,500</td>
                  <td>Impts.</td>
                  <td>0</td>
                  <td></td>
                  <td>$8,994,900</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td></td>
                  <td>134</td>
                  <td>$13,301,900</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td>$0</td>
                  <td></td>
                  <td>$0</td>
                  <td>$3,991,700</td>
                  <td></td>
                  <td>-$997,800</td>
                  <td>$0</td>
                  <td>-$76,400</td>
                  <td>$0</td>
                  <td></td>
                  <td>-$65,000</td>
                  <td>-$1,084,500</td>
                  <td>Total</td>
                  <td></td>
                  <td>146</td>
                  <td>$15,069,900</td>
                </tr>
                <tr>
                  <td rowspan="3">TOTALS</td>
                  <td>Land</td>
                  <td>2,720</td>
                  <td></td>
                  <td>$308,147,000</td>
                  <td>$162,200</td>
                  <td>$11,830,000</td>
                  <td>$0</td>
                  <td>44.468</td>
                  <td>$144,700</td>
                  <td>$74,314,000</td>
                  <td>0.571</td>
                  <td>$19,800</td>
                  <td>$0</td>
                  <td>-$377,500</td>
                  <td>$0</td>
                  <td>-63.027</td>
                  <td>-$106,900</td>
                  <td>-$22,910,700</td>
                  <td>Land</td>
                  <td>0</td>
                  <td></td>
                  <td>$296,908,600</td>
                </tr>
                <tr>
                  <td>Impts.</td>
                  <td>1,857</td>
                  <td></td>
                  <td>$450,225,200</td>
                  <td>$117,900</td>
                  <td>$7,908,900</td>
                  <td>$0</td>
                  <td></td>
                  <td>$0</td>
                  <td>$0</td>
                  <td></td>
                  <td>$175,100</td>
                  <td>$0</td>
                  <td>-$388,400</td>
                  <td>$0</td>
                  <td></td>
                  <td>$0</td>
                  <td>-$11,481,200</td>
                  <td>Impts.</td>
                  <td>0</td>
                  <td></td>
                  <td>$446,557,500</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td></td>
                  <td>9,769</td>
                  <td>$758,372,200</td>
                  <td>$280,100</td>
                  <td>$19,738,900</td>
                  <td>$0</td>
                  <td></td>
                  <td>$144,700</td>
                  <td>$74,314,000</td>
                  <td></td>
                  <td>$194,900</td>
                  <td>$0</td>
                  <td>-$765,900</td>
                  <td>$0</td>
                  <td></td>
                  <td>-$106,900</td>
                  <td>-$34,391,900</td>
                  <td>Total</td>
                  <td></td>
                  <td>9,751</td>
                  <td>$743,466,100</td>
                </tr>
                <tr class="line_break" rowspan="3">
                  <td class="table-borderless">
                    &nbsp;
                    <!--you just need a space in a row-->
                  </td>
                </tr>
                <tr id="DOR_Man_Shifts">
                  <td rowspan="3">Class "3" DOR Manufacturing Shifts</td>
                  <td>Land</td>
                  <td colspan="5" rowspan="3"></td>
                  <td rowspan="2">Parcel Count</td>
                  <td>0.000</td>
                  <td>$0</td>
                  <td rowspan="3"></td>
                  <td>-0.571</td>
                  <td>-$20,000</td>
                  <td colspan="2" rowspan="3"></td>
                  <td rowspan="2">Parcel Count</td>
                  <td>-0.571</td>
                  <td>-$20,000</td>
                  <td colspan="5" rowspan="3"></td>
                </tr>
                <tr>
                  <td>Impts.</td>
                  <td rowspan="2"></td>
                  <td>$0</td>
                  <td rowspan="2"></td>
                  <td>-$175,100</td>
                  <td rowspan="2"></td>
                  <td>-$175,100</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td>0</td>
                  <td>$0</td>
                  <td>-$195,100</td>
                  <td>1</td>
                  <td>-$195,100</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  const translations = {
    TVC: "Town-Village-City",
    MuniName: "Municipality Name",
    CountyName: "County Name",
    District: "District",
  };
  const needsHelpers = {
    TVC: "FOR",
    MuniName: "OF",
  };
  const headers = {
    TVC: "TOWN",
    MuniName: "WESTPORT",
    CountyName: "DANE",
    District: "ALL DISTRICTS",
  };

  const title_card = (type) => {
    const field = type;
    const value = headers[type];
    const description = translations[type];
    const helper = needsHelpers[type];

    return ` <div class="col" id="${field}">
            <dl class="row align-items-center">
              <dt class="col-sm-3">${helper || ""}</dt>
              <dd class="col-sm-9">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item value">${value}</li>
                  <li class="list-group-item description fst-italic">
                    ${description}
                  </li>
                </ul>
              </dd>
            </dl>
          </div>
          `;
  };

  let title_keys = Object.keys(headers);
  const title_cards_html = title_keys.map((key) => title_card(key)).join("");

  $(document).ready(function () {
    $("#title_card_row").html(title_cards_html);

    $(".table").each(function () {
      $(this)
        .children("thead")
        .each(function () {
          $(this).addClass("align-middle ws-no-wrap");
        });
      $(this).addClass("text-center table-sm text-small w-auto");
    });
    $(".table tr").each(function () {
      const rowspan = parseInt($(this).attr("rowspan"));
      rowspan > 1 && $(this).addClass("align-middle");
      const is_thead_row = $(this).parent().is("thead");
      if (is_thead_row) {
        $(this).addClass("text-small");
        const is_description_row =
          $(this).attr("id") === "value_inc_dec_descripions";
        // const is_sub_column_row=$(this).attr("id")==="title_sub_columns";
        let word_wrap = is_description_row ? "ws-normal" : "ws-no-wrap";
        // word_wrap=is_sub_column_row ? "ws-no-wrap" :"ws-normal";
        $(this).addClass(word_wrap);

        $(this)
          .children("td")
          .each(function () {
            // $(this).addClass("text-xsmall");
            // const rowspan = parseInt($(this).attr("rowspan"));
            // rowspan > 1 && $(this).addClass("align-middle");
            $(this).text() == "" && $(this).addClass("table-secondary");
          });
      } else {
        $(this)
          .children("td")
          .each(function () {
            $(this).addClass("text-xsmall");
            const rowspan = parseInt($(this).attr("rowspan"));
            rowspan > 1 && $(this).addClass("align-middle");
            $(this).text() == "" && $(this).addClass("table-secondary");
          });
      }
    });

    // window.addEventListener("mousewheel", function (e) {
    //   e.preventDefault();
    //   var step = -100;
    //   if (e.wheelDelta < 0) {
    //     step *= -1;
    //   }
    //   var newPos = window.pageXOffset + step;
    //   $("body").scrollLeft(newPos);
    // });

    var element = $(".html-content").get(0);

    $("#print_pdf").on("click", function () {
      // CreatePDFfromHTML(testHeaders.report_title);
      CreatePDFfromHTML("Reason_For_Change", 2);
    });

    $("#export_csv").on("click", function () {
      exportToExcel(testHeaders.report_title);
    });
  });
</script>
